<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <%-  include('navbar-patient') %>
    <div style="padding: 4rem 10rem;">
      <% if(doctor){ %>
        <p style="color: red;">You have been canceled appointment with Doctor <%= doctor %> at <%= date %></p>
      <% } %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% appointment.forEach((el, i) => { %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= el.Doctor.name %></td>
                  <td><%= el.Doctor.phone_number %></td>
                  <td><%= el.localDate %></td>
                  <td><a class="btn btn-warning" href="/patient/<%= el.PatientId %>/appointment/<%= el.DoctorId %>/delete/">Cancel</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
</body>
</html>